:root{
    --link-color: #337ab7;
    --brite-white: #fff;
    --gray: #e1e4e8;
    --blackish: #24292e;
    --font-light: #586069;
    --grid-header-bg: #f6f8fa;
    --gray-search: #979A9C;


    --main-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;

    --header-font-size: 14px;
    --title-font-size: 16px;

    --title-font-weight: 600;
    --details-font-size: 12px;

    --details-font-weight: auto;

    --plinks-display: none; /*auto;*/

    --widget-tile-font-weight: 400;
    --widget-tile-border: solid;

    --indent-details: none;

    --indent-list: 8px;

    --extension-id: '__MSG_@@extension_id__'

}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--main-font-family);
    font-size: var(--title-font-size) !important;
    line-height: 1.5 !important;
    color: var(--blackish) !important;
    background-color: var(--brite-white) !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

#grid-ct {
	margin-bottom: 20px;
}

.DocumentWidth{
    width: 100% !important;
    border: none !important;
}

.DocumentWidth>div{
    border: none !important;
}

.DocumentSubWidth{
    width: 100% !important;
    border: none !important;
}

.DocumentSubWidth>div{
    border: none !important;
}
/* on both */
html, body {
    overflow-x: hidden;
}

#ContentWrapper{
    width: 100% !important;
    box-shadow: none !important;
}

#toprightnav{
    display: none;
}

p[id*='p28links']{
    display: var(--plinks-display) !important;
}
 #Header{
     height: 60px !important;
     margin-top: 0 !important;
     color: rgba(var(--brite-white), 0.75);
     background: var(--blackish) !important;
     width: 100% !important;
 }
#HeaderContent {
    z-index: 32;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    color: rgba(var(--brite-white),0.75);
    background-color: var(--blackish);
    height: 36px !important;
    width: 60% !important;;
    left: 20% !important;;
}


#Search {
    height: 26px !important;
    font-size: inherit;
    color: var(--brite-white);
    background-color: rgba(255,255,255,0.125);
    border: 0;
    box-shadow: none;
    border-radius: 3px;
    outline: none;
    padding: 4px 0px 0px 0px !important;
    margin: 0 !important;
    left: 10% !important;
    width: 300px !important;
}


#SEARCHS{
    background: none;
    border: none;
    width: 272px !important;
    color: rgba(255,255,255,0.75) !important;
    padding-left: 8px;
}

#splitbutton1{
    background: none;
    border: none;
    width: 20px;
}

#splitbutton1 span{
    background: none;
    border: none;
}

#splitbutton1-button{
    border: none !important;
    background-repeat: no-repeat !important;
	background: url('chrome-extension://mkbophelbcccfnchjaoinjofcgfbpebj/svg/search-shortcut-hint.svg') ;
    width: 20px;
}

#AdvancedSearchMenuBar{
    display: none;
}

#logo img{
    height: 32px;
    width: auto;
}

div#Nav ul{
	padding-left: 0 !important;
}

#Nav{
    width: 600px !important;
    position: absolute !important;
    left: 45% !important;
    z-index: 1001 !important;
    top: 21px !important;
    background-color: var(--blackish) !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

#Nav ul li div{
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

#NavBg{
    height: 0;
    Background: none !important;
}

#NavBg ul li div a img {
    content:url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}

#NavBg ul li div a{
    padding-right: 8px !important;
    padding-left: 8px !important;
}

#NavBg .admin{
    display: none !important;
}

.toolbar-link {
    display: block !important;
    color: rgba(255,255,255,0.75) !important;
    font-weight: 600 !important;
    font-family: var(--main-font-family) !important;
    font-size: var(--title-font-size) !important;
}

.toolbar-link:hover{
    text-decoration: none !important;
    color: var(--link-color);
}

#workspace_switcher{
    bottom: auto !important;
    display: none !important;
}

#workspace_switcher form span span a{
    color: rgba(255,255,255,0.75) !important;
}


#Main{
    position: absolute;
    top: 56px;
    width: 100%;
    background: var(--brite-white) !important;

}

#Widgets{
    background: var(--brite-white) !important;
    width: 100% !important;
}

#DASHBOARD_DISPLAY{
    position: relative !important;
    width: 60% !important;
    left: 20%!important;
}

#bmcfplogo{
    display: none;
}

#bmcsoftwarelogo{
    display: none;
}

.border_shadow{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

#WidgetContainerTable tbody tr td{
    background-image: none !important;
}

div[id^="AJAX_header"] {
	border-bottom: 1px var(--gray);
    border-bottom-style: var(--widget-tile-border);
    font-size: var(--title-font-size) !important;
    color: var(--blackish) !important;
	font-weight: var(--widget-tile-font-weight) !important;
    line-height: 24px !important;
    font-family: var(--main-font-family);
}

#TableActions{
    display: none !important;
}

iframe html body{
    font-family: var(--main-font-family);
}

iframe html body a{
     display: none !important;
}

table[id*='tableWIDGET'] tbody tr div iframe{
    padding: 0;
    font-family: var(--main-font-family);
    text-align: left;
    border: none;
    width: 96% !important;
}

table[id*='tableWIDGET'] tbody tr td{
    background: none !important;
}

.dashbox{
    background: none !important;
}

.WidgetContainer table{
    background: none !important;
}

.DragHandle table tbody tr td a img{
    content:url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}

div #Main.DocumentSubWidth div{
    /*border-style: none !important;*/
}

#widgetpanelcontrol a img{
    content:url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}

#TableActions{
    background-color: var(--brite-white) !important;
    width: 60% !important;
    left: 20% !important;
    position: relative !important;
}

#TableActions table tbody tr td div img{
    content:url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}

.pagination{
    display:none;
}

#PERFORMWHAT{
    position: relative;
    float: left;
    padding: 6px 14px;
    font-weight: 600;
    line-height: 20px;
    color: var(--font-light);
    border: 1px solid var(--gray);
    display: none;
}

#TableActions form select{
    position: relative;
    float: left;
    padding: 6px 14px;
    font-weight: 600;
    line-height: 20px;
    color: var(--font-light);
    border: 1px solid var(--gray);
}


.numara-grid .x-grid3-hd-row{
    position: relative !important;
    margin-top: 20px !important;
    background: var(--grid-header-bg) !important;
    font-size: var(--header-font-size) !important;
    color: var(--blackish) !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    height: 49px;
}

.numara-grid .x-grid3-hd-row td{
    position: relative !important;
    margin-top: 20px !important;
    background: var(--grid-header-bg) !important;
    border: none !important;
    border-bottom:  1px var(--gray) solid !important;;
    line-height: 24px !important;
    padding-bottom: 13px;
    color: var(--blackish) !important;
    font-family: var(--main-font-family);
}

.x-panel-bwrap{
    border: 1px var(--gray) solid !important;
    border-radius: 3px 3px 0 0;
}

input[type='checkbox']{
  margin-top: 8px !important;
    margin-left: 8px !important;
}

#grid-ct .numara-grid .x-grid3-row td {
    height: 30px !important;
    text-decoration: none !important;
    background-color: transparent;
    /*font-size: var(--details-font-size) !important;
    font-weight: var(--details-font-weight) !important;*/
    vertical-align: middle !important;
    font-family: var(--main-font-family);
    line-height: 20px;
    color: var(--font-light) !important;
}

a [href] {
	color: var(--link-color);
}

.numara-grid .x-grid3-row-alt {
    background-color: var(--brite-white) !important;
}

.x-grid3-row{
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: 1px var(--gray) solid !important;
}

.x-grid3-row-table{
    border: none !important;
}

div[id*='homepageGrid'] td[class*='master_checkbox']{
    display: none !important;
}

div[id*='homepageGrid'] td[class*='0attachments']{
    display: none !important;
}

div[id*='homepageGrid'] td[class*='0ticket_type'] img{
    content:url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}

div[id*='homepageGrid'] td[class*='0ticket_type']{
    display: none !important;
}

div[id*='homepageGrid'] td[class*='status']{
    width: 70px !important;
    color: var(--font-light) !important;
}

div[id*='homepageGrid'] td[class*='System']{
    /*width: 350px !important;*/
    color: var(--font-light) !important;
    font-size: var(--title-font-size) !important;
    align-self: left;
}

div[id*='homepageGrid'] td[class*='Product']{
    display: none !important;
}

div[id*='homepageGrid'] td[class*='title']{
    display: none !important;
}

div[id*='homepageGrid']{
    width: 60% !important;
    left: 20% !important;
    position: relative !important;

}

.x-grid3-cell-inner{
    padding: 0 0 0 8px !important;
}

.x-grid3-col-hpColHeading_title{
    color: var(--blackish) !important;
}

.x-grid3-col-hpColHeading_title, .inner_s_class{
    float: left;
}

.inner_s_class{
    font-size: var(--details-font-size);
    font-weight: var(--details-font-weight);
}

.inline-ticket-link{
    font-weight: bold !important;
}

.inline-ticket-link:hover{
    color: var(--blackish) !important;
}

.inline-ticket-link{
    font-weight: bold !important;
}

.inline-ticket-link:hover{
    color: var(--blackish) !important;
}

a{
    color: var(--link-color) !important;
}

.x-selectable{
    margin: 0 !important;
    padding: 0 !important;
}

.testIcon, .openIcon, .devIcon, .appIcon, .prodIcon, .reviewIcon, .integrateIcon .eyeIcon {
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    margin: 0 0 0 16px;
    padding: 0 !important;
    top: 0 !important;
    position: relative !important;
}

.displayRow2{
    font-size: var(--details-font-size) !important;
    color: var(--font-light) !important;
    font-family: var(--main-font-family);
}

.displayRow2 td{
    padding-left: var(--indent-details) !important;
}

.ticketLink{
    cursor: pointer;
    font-size: var(--title-font-size) !important;
    font-weight: 600;
}

.ticketLink:hover{
    color: var(--link-color);
}

a{
    color: var(--link-color) !important;
}

.x-selectable{
    margin: 0 !important;
    padding: 0 !important;
}

div[class*="ticket-group"]{
    background-repeat: no-repeat;
    min-height: 16px;
    min-width: 16px;
    margin: 0 0 0 16px;
    padding: 0 !important;
    top: 0 !important;
    position: relative !important;
}

.displayRow2{
    font-size: var(--details-font-size) !important;
    color: var(--font-light) !important;
    font-family: var(--main-font-family);
}

.displayRow2 td{
    padding-left: var(--indent-details) !important;


.ticketLink{
    cursor: pointer;
    font-size: var(--title-font-size) !important;
    font-weight: 600;
}

.ticketLink:hover{
    color: var(--link-color);
}

.headerInfoBar{
    color: var(--font-light);
    font-size: var(--header-font-size);
    line-height: 21px !important;

}

.iconInfo{
    float: left;
    margin-top: 13px !important;
    height: 21px !important;
    padding-left: 8px;
}

.headerIcon{
    float: left;
    margin-top: 16px !important;
    height: 21px !important;
}

.noFmt{
    float:left;
}

.padLeft{
    padding-left: 10px !important;
}

.innerCard {
    height: 200px;
    width:200px;
}

.show-tg{
    fill: var(--link-color);
}
